@import "../../styles/variables.scss";

.default {
  cursor: pointer;

  outline: 0;
  padding: $space-sm $space-md;
  border-radius: $border-radius-sm;
  border: 1px solid $color-border-dark;
  background: $color-grey-11;
  color: $color-grey-ee;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:focus,
  &:hover {
    border: 1px solid $color-primary-active;
    background: $color-primary-dark;
    color: $color-white;
  }

  &:disabled {
    border: 1px solid $color-border;
    background: $color-grey-cc;
    color: $color-grey-55;

    &:focus,
    &:hover {
      border: 1px solid $color-primary-active;
    }
  }
}
