$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 0.75rem;
$border-radius-mx: 50%;

$color-black: #000000;
$color-grey-11: #111111;
$color-grey-33: #333333;
$color-grey-55: #555555;
$color-grey-77: #777777;
$color-grey-99: #999999;
$color-grey-aa: #aaaaaa;
$color-grey-cc: #cccccc;
$color-grey-ee: #eeeeee;
$color-white: #ffffff;
$color-primary: #0000ff;
$color-primary-dark: #00008b;
$color-primary-light: #87cefa;
$color-primary-active: #6a5acd;
$color-bg: $color-white;
$color-bg-grey: $color-grey-ee;
$color-border: $color-grey-cc;
$color-border-dark: $color-grey-11;

$font-xs: 0.5rem;
$font-sm: 0.75rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-bg: 2rem;
$font-hg: 2.5rem;

$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;

$header-height: 110px;
