@import "../../../styles/media.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  @include media-sm {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.image {
  width: 300px;
  height: 300px;
}

.info {
  flex: 1;
}
